@model PrivateMessageIndexModel
@using Nop.Web.Models.PrivateMessages;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    
    Html.AddTitleParts(T("PageTitle.PrivateMessages").Text);
}
<div class="container">
    <h3>
        Private messages are not supported by this theme
    </h3>
</div>
