@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page container">
    <h3>
        Forums are not supported by this theme
    </h3>
</div>
