@model SearchModel
@using Nop.Core.Domain.Forums;
@using Nop.Web.Models.Boards;
@using Nop.Web.Models.Common;
@{   
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.Search").Text);    
}
<div class="page forum-search-page container">
    <div class="container">
        <h3>
            Forums are not supported by this theme
        </h3>
    </div>

</div>
