@model ForumTopicPageModel
@using Nop.Web.Models.Boards;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Subject);
}
<div class="page forum-topic-page">
    <div class="container">
        <h3>
            Forums are not supported by this theme
        </h3>
    </div>

</div>
