@model EditForumTopicModel
@using Nop.Web.Models.Boards;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.TopicEdit").Text);    
}
<div class="container">
    <h3>
        Forums are not supported by this theme
    </h3>
</div>

