@model BlogPostListModel
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
<div class="container">
    <h3>
        Blogs are not supported by this theme
    </h3>
</div>

